.coin-wrapper {
  margin-bottom: 0px;
  animation-fill-mode: forwards;
  transform-style: preserve-3d;

  .coin-container {
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: $coin-radius;
    width: $coin-radius;
    animation-fill-mode: forwards;
    transform: rotateX(0);

    .coin {
      transform-style: preserve-3d;
      position: absolute;
      border: 10px solid $color-primary-dark;
      background-image: linear-gradient(
        to right bottom,
        $color-primary,
        $color-primary-light,
        $color-primary
      );
      color: $color-white;
      font-size: 2rem;
      height: $coin-radius;
      width: $coin-radius;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
    }
    .heads {
      transform: rotateX(0deg);
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      transform-style: preserve-3d;
    }
    .tails {
      transform: rotateX(180deg);
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      transform-style: preserve-3d;
    }
  }
}
