.spin-heads {
  animation: spin-heads $animation-speed forwards;
}
.spin-tails {
  animation: spin-tails $animation-speed forwards;
}

.move-coin {
  animation: move-coin $animation-speed forwards;
}

@keyframes spin-heads {
  0% {
    transform: rotateX(0);
  }

  100% {
    transform: rotateX(1800deg);
  }
}

@keyframes spin-tails {
  0% {
    transform: rotateX(0);
  }

  100% {
    transform: rotateX(1980deg);
  }
}

@keyframes move-coin {
  0% {
    transform: translateY(0%);
  }
  20% {
    transform: translateY(-100%);
  }
  80% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(0%);
  }
}
